In [3]:
print("hello world")
print("good mroning!!!!!")

hello world
good mroning!!!!!

# Coinbase Data Analyst Take Home Exam

- Yucheng Liu: <yc.yuchengliu@gmail.com>
- October 2024

## Abstract
This project demonstrates key technical skills needed for a data analyst role at Coinbase Internal Audit. I utilized Snowflake (TBD add connector link) SQL to analyze datasets by joining and aggregating provided tables. Additionally, I used Python in Jupyter Notebook with libraries such as Pandas for data manipulation, and scatter plots to explore correlations in the data. I also integrated the [CryptoCompare API](https://pypi.org/project/cryptocompare/) to retrieve real-time cryptocurrency prices.

## Github Repo

In addition to this notebook, the project is also available in my repo. Please use the links below.
- [Notebook tbd](xxx)
- [SQL tbd](xxx)

## Datasets Used

In this project, we use three distinct csv files containing data for the following:
- **Users**, including an id, date the user signed up, and their risk score (a number assigned by our internal risk model).
- **Accounts** for those users, including the date the account was created, and currency.
- **Ledger** Entries for these accounts; these are single-entry, indicating the date and amount by which the account changed.

#### Import Libraries

In [12]:
#!pip install pandas
#!pip install matplotlib
#!pip install cryptocompare
#!pip install snowflake-connector-python

In [11]:
import pandas as pd
import snowflake.connector
import matplotlib.pyplot as plt
import cryptocompare as cy

#### Connect to Snowflake

In [3]:
sf_pw = input('Enter Password:')

con = snowflake.connector.connect(
    user = 'yuchengliu',
    password = sf_pw,
    account = 'ed01722.us-east4.gcp',
    warehouse = 'COMPUTE_WH'
)
con.cursor()
print("Snowflake Connected Successfully!")

Snowflake Connected Successfully!

#### Helper Function(s)

In [17]:
#get_sf_data function retrieves data from snowflake by executing a SQL query and returns the results in dataframe for analysis.
def get_sf_data(query):
    sql = query 
    output_df = pd.read_sql(sql, con)
    return output_df

### Question 1  
Draw an entity-relationship diagram for the data. Indicate the cardinality of the relationships.

![title](tbd)

### Question 2  
Task: Load the CSV files into a SQL database.

I created a free Snowflake account and uploaded the three CSV files. Below is a screenshot of the datasets after they were successfully loaded.

| # | File Name | Snowflake Table Name
|-----------------|-----------------|-----------------|
| 1 | accounts.csv | COINBASE.PUBLIC.ACCOUNTS |
| 2 | users.csv | COINBASE.PUBLIC.USERS |
| 3 | ledger.csv | COINBASE.PUBLIC.LEDGER |

![title](screenshot_sf.png)

### Question 3
Calculate and plot the following distributions

a. Number of accounts per user

In [19]:
q3_a_query = f"""
        SELECT 
            u.user_id,
            COUNT(a.account_id) AS number_of_accounts
        FROM 
            COINBASE.PUBLIC.USERS u
        LEFT JOIN 
            COINBASE.PUBLIC.ACCOUNTS a ON u.user_id = a.user_id
        GROUP BY 
            1
        ORDER BY 
            2 DESC;
"""

get_sf_data(q3_a_query)

/var/folders/4l/t9877gg17j99nd_pc56r_pq40000gn/T/ipykernel_24189/4219864176.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(sql, con)

                              USER_ID  NUMBER_OF_ACCOUNTS
0    28c6d03ee715c3c6a69cd960ca404123                 130
1    2728a6faf3a6de76ca9fcb456f583dc8                  17
2    5867ac641fb362074ac1bc6dde7f0c5f                  16
3    91c0fbdf1ce91ab3b175a5510f9a8a63                  15
4    b200203a377aa50d31dd589ce5cc018f                  12
..                                ...                 ...
995  4e67e06d8edcc76933da6097644fc410                   2
996  27eb5c9d48b0664dc2bc52fe2d4cc4ea                   2
997  60671fac32d64b059eda5fb53e187fc9                   2
998  730cc3f3d7982f834d7e1b5108a2da10                   2
999  870dbbb647523fbe19c4d1101af224ac                   2

[1000 rows x 2 columns]

### Question 7
 
Find a source of crypto prices online. Extract the price data and write a script that generates a corresponding table. Use the table to provide a time series for:

- The dollar value of all crypto assets in user accounts, i.e. what is the total value held in all wallets as a function of time.
- The dollar value of assets flows in and out of user accounts, i.e. what is the net flow of value into or out of all accounts in aggregate.

In [2]:
KEY = '639ef0f8b451f07328392747b6b25ea2dc79e27c2ea163d4ee60491198aa3ee6'

cy.cryptocompare._set_api_key_parameter(KEY)

NameError: name 'cy' is not defined

In [7]:
cy.get_price('BTC', currency='USD')

{'BTC': {'USD': 59211.99}}